[Unit]
Description=Puma HTTP Server
After=network.target

[Service]
EnvironmentFile=/tmp/db_config
Type=simple
User=root
WorkingDirectory=/tmp/raddit
ExecStart=/bin/bash -lc 'puma'
Restart=always

[Install]
WantedBy=multi-user.target
